/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

a, a:hover {
    color: #4f62be;
    text-decoration: none;
}

ul.toc-headings > li {
    padding-bottom: 0px;
}
.toc-headings > li > a {
    display: block;
}
.toc-headings > li > a.active {
    font-weight: bold;
}

.hljs {
    border: 1px solid #ccc;
}

h3 > code {
    background-color: transparent;
    padding: 0;
    font-size: 100%;
}

.toc-headings > li > a > code {
    background-color: transparent;
    padding: 0;
}

.showcase > .blockImage {
 height:240px;
 max-width:100%;
 display:flex;
 flex-direction:column;
 justify-content:center;
 text-align:center;
 border:solid 1px #eee;
}

.showcase .blockImage img {
 max-height:220px;
 max-width:100%;
 }

.showcase h2 {
	padding: 0;
	margin: 0;
}

.showcase p {
	padding: 0;
	margin: 0;
}


.indexPageGrid > .blockImage {
 height:90px;
 max-width:100%;
 display:flex;
 flex-direction:column;
 justify-content:center;
 text-align:center;
}

.indexPageGrid .blockImage img {
 max-height:80px;
 max-width:100%;
 }




.centeredheadline {
	width: 100%;
	text-align:center;
}

